datetime
sys
os
random
sleep
webbrowser
beautifulsoup4
pyautogui
pyttsx3
requests
SpeechRecognition
plyer
pygame
speedtest-cli
tk
PySide6
pyjokes
wolframalpha
matplotlib
time
ctypes
pillow
pynput
wikipedia
keyboard
json
pynput
pywhatkit
fnmatch
googletrans
gtts
speech_recognition
youtube_search